/*********************/
/* Custom Properties */
/*********************/
:root{

    /* Custom Colours */
    --clr-main-10: #EBB42C;
    --clr-main-20: #012B28;
  
    /* --clr-accent-10: #F1CB6C; */
    --clr-accent-20: #EFBCD5;
    --clr-accent-30: #3185FC;
    /* --clr-accent-40: #E84855; */
    --clr-accent-40: var(--clr-main-10);
    --clr-accent-10: var(--clr-main-20);
    
    
    /* Custom Fonts */
    --ff-main: "Epilogue", sans-serif;
  
    /* Custom Font Weights */
    --fw-reg: 300;
    --fw-reg-fat: 400;
    --fw-bold: 700;
  
    /* Custom Font Sizes */
    --fs-mob-p: 1.125rem; /* */
    --fs-mob-h-l: 1.5rem; /* */
    --fs-mob-h-m: 1.3rem; /*  */
  
    --fs-p: 1.125rem; /* 18px */
    --fs-h-l: 2rem; /* 32px */
    --fs-h-m: 2.5rem; /* 40px */
  
    /* Custom border radius */

    --std-br: 0.5rem; 
    
  
    /* Custom Margin */
    --std-margin-top: 2em;

    --std-spacing: var(--std-margin-top);

    --std-box-spacing: calc((var(--std-spacing))/3);
  }
  

  
  
  
  /* End of Custom Properties */
  
  
  /* CSS Reset - Used Andy Bells */
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin-block-end: 0;
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* End of CSS Reset */
  
  
  /*******************/
  /* Utility Classes */
  /*******************/
  
  
  /* Background Colours */
  .bg-clr-hf{
    background-color: var(--clr-main-20);
  }
  
  .bg-clr-accent-10{
    background-color: var(--clr-accent-10);
  }
  
  .bg-clr-accent-20{
    background-color: var(--clr-accent-20);
  }
  
  .bg-clr-accent-30{
    background-color: var(--clr-accent-30);
  }
  
  .bg-clr-accent-40{
    background-color: var(--clr-accent-40);
  }
  
  /* Font Colours */
  .f-clr-main-10{
    color: var(--clr-main-10);
  }
  
  .f-clr-main-20{
    color: var(--clr-main-20);
  }
  
  .f-clr-accent-10{
    color: var(--clr-accent-10);
  }
  
  .f-clr-accent-20{
    color: var(--clr-accent-20);
  }
  
  .f-clr-accent-30{
    color: var(--clr-accent-30);
  }
  
  .f-clr-accent-40{
    color: var(--clr-accent-40);
  }
  
  /* Font Sizes */
  .fs-mob-p{
    font-size: var(--fs-mob-p);
  }
  
  .fs-mob-h-l{
    font-size: var(--fs-mob-h-l);
  }
  
  .fs-mob-h-m{
    font-size: var(--fs-mob-h-m);
  }
  
  .fs-p{
    font-size: var(--fs-p);
  }
  
  .fs-h-l{
    font-size: var(--fs-h-l);
  }
  
  .fs-h-m{
    font-size: var(--fs-h-m);
  }
  
  
  /* Font Weight */
  .fw-bold{
    font-weight: var(--fw-bold);
  }
  
  .fw-reg{
    font-weight: var(--fw-reg);
  }
  
  /* Font Family */
  body{
    font-family: var(--ff-main);
    font-weight: var(--fw-reg);
    text-transform: uppercase;
  }
  
  /* Button */
  .btn{
    height: 40px;
    width: 175px;
    padding: 20px;
    box-shadow: 4px 4px 4px #000000;
    border: var(--clr-accent-40) 3px solid;
    border-radius: 8px;
    background-color: var(--clr-accent-10);
    color: var(--clr-accent-40);
    font-size: var(--fs-mob-p);
    line-height: 5px;
  }
  
  .btn:hover{
    background-color: var(--clr-accent-40);
    box-shadow: 2px 2px 2px #000000;
    color: var(--clr-accent-10)
  }
  
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  a{
    text-decoration: none;
    color: var(--clr-main-10);
    text-transform: capitalize;
    font-size: var(--fs-mob-p);
    cursor: pointer;
  }

  a:hover{
    font-weight: 700;
    color:var(--clr-accent-40);
  }
  

  .br{
    border-radius: var(--std-br);
    /* box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.40); */
    overflow: hidden;
  }

  h1{
    font-weight: 300;
    font-size: 1.5rem;
  }

  .bold{
    font-weight: 700;
  }

  .gap{
    height: 1500px;
  }

  /************************/
  /* Background Animation */
  /************************/


  .bg-img-2{
    background-image: url(images/backgroundT.jpg);
    position: fixed;
    z-index: -1;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    /* this is the how you want the animation to play out */
    animation: fade2 linear forwards;
    /* this dictates the timeline in which the animation takes place*/
    animation-timeline: scroll();
  }

  .bg-img-1{
    background-image: url(images/backgroundT.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    /* this is the how you want the animation to play out */
    animation: fade1 linear forwards;
    /* this dictates the timeline in which the animation takes place*/
    animation-timeline: scroll();
  }

  .bg-img-3{
    background-image: url(images/backgroundB.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    /* this is the how you want the animation to play out */
    animation: fade3 linear forwards;
    /* this dictates the timeline in which the animation takes place*/
    animation-timeline: scroll();
  }

  /* This dictates what start and end of the keyframe looks like */
  @keyframes fade1{
    0%{
      opacity: 0.8;
    }
    33%{
      opacity: 0;
    }
  }

  @keyframes fade2{
    33%{
      opacity: 0.8;
    }
    80%{
      opacity: 0;
    }
  }

  @keyframes fade3{
    33%{
      opacity: 0;
    }
    80%{
      opacity: 0.8;
    }
    100%{
      opacity: 0.8;
    }
  }


  /* End of Animation */

  /*********************/
  /* carousel Animation*/
  /*********************/

  .product-image {
    position:relative;
    overflow:hidden;
    width:100%;
    height: 100%;
    display:flex;
    background:black;
  }

  .product-image img {
    width:100%;
    height:100%;
    left:0%;
    opacity: 0;
    position:absolute;
    animation:movement 50s ease-in-out infinite;
    object-fit: cover;
  }

  @media(min-width: 1100px){
    .product-image img {
      transform:translateY(-100px);
    }
  }

  .product-image img:nth-child(1) {
    width:100%;
    height:100%;
    opacity: 1;
    left:0%;
    position:absolute;
    transform:translateY(0px);
    animation:movementMain 50s ease-in-out infinite;
  }


  @keyframes movement {
    0%{
      opacity:0;
    }
     20%{
      opacity:1;
    }
    40%{
      opacity:0;
      scale:1.1;
    }
    100%{
      opacity:0;
    }
  }

  @keyframes movementMain {
    0%{
      opacity:0;
    }
     20%{
      opacity:1;
    }
    40%{
      opacity:0;
      scale:1.1;
    }
    100%{
      opacity:0;
    }
  }
  
  img:nth-child(2){
    animation-delay:10s;
  }
  img:nth-child(3){
    animation-delay:20s;
  }
  img:nth-child(4){
    animation-delay:30s;
  }
  img:nth-child(5){
    animation-delay:40s;
  }

  /* End of Carousel */

  
  /*******************/
  /* General Styling */
  /*******************/

  .container{
    max-width: 1400px;
    margin: 0 auto;
  }

  .discount-banner{
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: var(--clr-main-10);
    color: var(--clr-main-20);
    text-align:center;
    padding: 6px 64px 6px 64px;
    display:none;
    justify-content: center;
    gap: 2em;
  }

  .discount-banner button{
    border: none;
    background: none;
    width: 24px;
  }

  /******************/
  /* Header Section */
  /******************/

  header{
    background-color: var(--clr-main-20);
    color:var(--clr-main-10);
    padding: var(--std-spacing) 0px;
  }

  .logo{
    max-width: 150px;
  }

  .header-flex{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--std-margin-top);
  }

  nav button{
    border: none;
    background: none;
    width: 3em;
  }

  #nav-btn-cls{
    display: none;
  }

  #nav-links{display: none;}

  nav ul{
    list-style: none;
    padding: 0;
  }

  nav li{
    text-align: center;
    margin-top: var(--std-margin-top);
  }

  /* Tablet Size for Nav */
  @media (min-width: 650px){

    .header-flex{
      flex-direction: row;
      justify-content: center;
      gap: calc((var(--std-spacing))*1.5);
      align-items: flex-end;
    }

    #nav-btn-opn{
      display: none;
    }

    #nav-links{
      display: block;
      margin: 0;
    }

    nav li{
      display: inline;
      margin-right: var(--std-spacing);
    }

  }

  /* Desktop Sizes for Nav */
  @media (min-width: 1100px){
    .header-flex{
      gap: calc((var(--std-spacing))*13);
    }

  }

/***************/
/* top-section */
/***************/


.top-section{
  margin: var(--std-box-spacing) var(--std-box-spacing) 0px var(--std-box-spacing);
  display:grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--std-box-spacing);
}


/* Tablet Top section */
@media (min-width: 650px){

  .top-section{
    margin: var(--std-box-spacing) var(--std-box-spacing) 0px var(--std-box-spacing);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--std-box-spacing);
  }

}


/* Desktop Top Section */
@media (min-width: 1100px){

  .top-section{
    margin: var(--std-box-spacing) var(--std-box-spacing) 0px var(--std-box-spacing);
    display:flex;
    flex-direction: column;
    gap: var(--std-box-spacing);
  }

  .hero-image img{
    content:url(images/heroimage.png);
  }

  .product-image{
    height: 500px;
  }

  .product-image img{
    width: 100%;
    height:min-content;
  }

}

/****************/
/* main section */
/****************/

.main-section{
  display: flex;
  flex-direction: column;
  gap: var(--std-box-spacing);
  margin: 0px var(--std-box-spacing);
  color: var(--clr-accent-40);
}

.main-cta{
  background-color: var(--clr-accent-10);
  margin-top: var(--std-box-spacing);
  padding: 32px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cta-text{
  padding: 32px 48px;
  text-transform: none;
}

.cta-button{
  display: flex;
  gap: var(--std-spacing);
  flex-wrap:wrap;
  justify-content: center;
}


@media(min-width: 650px){

  .main-section{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    margin-top: var(--std-box-spacing);
  }

  .main-cta{
    margin-top: 0px;
  }

  .main-image{
    position: relative; height: 100%; width: 100%;
  }

  .main-image img{
    content: url(images/background2.jpg);
    object-fit: cover;
    height: 100%;
  }
}

@media(min-width: 1100px){

  h1{
    font-size: 2rem;
  }

  p{
    font-size: 1.3rem;
  }



  .main-section{
    grid-template-columns: 1fr 1fr;
    direction: rtl;
  }

  .main-cta{
    padding: 64px;
    text-align: left;
  }

  .cta-text{
    padding: 32px 70px;
  }

  .cta-button{
    margin-top: 64px;
  }

  .btn{
    height: 60px;
    width: 240px;
  }

}

/***********************/
/* Testimonial Section */
/***********************/

.testimonial-section{
  background-image: url(images/jazmin-quaynor-bYOi200uQ6w-unsplash.jpg);
  margin: var(--std-box-spacing) var(--std-box-spacing) 0px var(--std-box-spacing);
  display: flex;
  padding: var(--std-spacing);
}

.testimonial-text{
  background-color: var(--clr-accent-20);
  color: var(--clr-accent-30);
  padding: var(--std-spacing);
}

/* Testimonial Desktop Size */

@media (min-width: 1100px){
  .testimonial-section{
    min-height: 700px;
    align-items: flex-end;
  }

  .testimonial-text{
    height:min-content;
    width: 70%;
  }
}

/**********/
/* Footer */
/**********/

footer{
  background-color: var(--clr-main-20);
  margin-top: var(--std-box-spacing);
  display: flex;
  flex-direction: column;
  color: var(--clr-main-10);
  align-items: center;
  padding: var(--std-spacing);
  gap: var(--std-spacing);
}

.socials{
  display: flex;
  gap: var(--std-spacing);
}

.socials img{
  width: 32px;
}

.legal{
  text-transform: none;
}


/* Footer Desktop Size */

@media(min-width: 1000px){

  footer{
    align-items: flex-end;
  }

}

/*********************************/
/* Product Page Specific Styling */
/*********************************/

  .page-description{
    margin: var(--std-box-spacing) var(--std-box-spacing) 0px var(--std-box-spacing);
    display: flex;
    flex-direction: column;
    gap: var(--std-box-spacing);
  }
  
  .product-categories h1{
    color:var(--clr-main-20);
    text-transform: capitalize;
  }

  .product-description-text{
    background-color: var(--clr-accent-10);
    color: var(--clr-accent-40);
    padding: var(--std-spacing) calc(var(--std-spacing)*2) var(--std-spacing) calc(var(--std-spacing)*2);
    text-align: center;
    text-transform:none;
  }


  @media (min-width: 650px){
    .page-description img{
      content: url(images/heroimage.png);
    }
  }


/***************/
/* Cookies Box */
/***************/

:root {
  --purple: #3B3646;
  --red: #EE4B5A;
}

/* Cookie Dialog */
#gdpr-cookie-message {
  position: fixed;
  right: 30px;
  bottom: 30px;
  max-width: 550px;
  background-color: var(--clr-main-20);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  margin-left: 30px;
  font-family: system-ui;
  z-index: 1000;
}

#gdpr-cookie-message h4 {
  color: var(--clr-main-10);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

#gdpr-cookie-message p {
  color: var(--clr-main-10);
  font-size: 15px;
  line-height: 1.5em;
}

#gdpr-cookie-message p:last-child {
  margin-bottom: 0;
  text-align: right;
}

#gdpr-cookie-message a {
  color: var(--clr-main-10);
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 2px;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease-in;
}

#gdpr-cookie-message a:hover {
  color: white;
  border-bottom-color: var(--red);
  transition: all 0.3s ease-in;
}

#gdpr-cookie-message button {
  border: none;
  background: var(--red);
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  padding: 7px;
  border-radius: 3px;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#gdpr-cookie-message button:hover {
  background: white;
  color: var(--red);
  transition: all 0.3s ease-in;
}



