  /**************************/
  /* Product Card Container */
  /**************************/

  .products{
    display: flex;
    justify-content: space-around;
    margin-top: calc(var(--std-box-spacing)*8);
  }

  .product-card-container{
    /* background-color: white; */
    /* padding: var(--std-spacing); */
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--std-spacing);
  }

  .product-card{
    width: 300px;
    color: var(--clr-main-20);
  }

  .product-image-container{
    overflow: hidden;
    border-radius: 16px;
    position: relative;
    height: 225px;
    width: 100%;
  }

  .discount-product{
    background-color: yellow;
    position: absolute;
    z-index: 3;
    left: 200px;
    top: 20px;
    padding: 0.175em;
    border-radius: 8px;
    text-transform: none;
  } 

  .product-image-container img{
    position:absolute;
  }

  .product-image-container img:hover{
    animation: meltAway 1s linear forwards;
  }

  @keyframes meltAway{
    100%{
      opacity:0;
    }
  }

  .product-description{
    padding: var(--std-spacing);
  }

  .product-title{
    font-weight: var(--fw-bold);
    font-size: 1.175rem;
    text-transform: none;
  }

  .product-text{
    text-transform: none;
    font-size: 1rem;
    float: left;
  }

  .product-price{
    font-weight: var(--fw-bold);
    font-size: 1rem;
    float: right;
  }

  .product-price span{
    text-decoration: line-through;
  }

  /* Product Card Container Tablet */
  @media(min-width: 650px){
    .product-card-container{
      grid-template-columns: 1fr 1fr;
    }

  }

  /* product card desktop */
  @media(min-width: 1110px){
    .product-card-container{
      grid-template-columns: 1fr 1fr 1fr;
    }

  }

  /* Product Preview Window */

  .category-select{
    width: 50%;
    margin: var(--std-margin-top) auto 0 auto;
    display:flex;
    justify-content: space-around;
  }

  .category-select a{
    color: var(--clr-main-20);
  }
  .category-select a:hover{
    text-decoration: underline;
  }



  .product-preview{
    position: fixed;
    background-color: white;
    top: 32px;
    z-index: 2;
    padding: calc(var(--std-spacing)/2);
    display: none;
    flex-direction: column;
    gap: 1em;
    text-transform: none;
    border-radius: 8px;
  }

  .close-preview{
    border: none;
    background: none;
    width: 32px;
    align-self: flex-end;
  }

  .main-preview{
    border-radius: 8px;
    overflow: hidden;
  }

  .secondary-preview{
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .secondary-preview img{
    width: 6em;
    border-radius: 16px;
    overflow: hidden;
  }



  /* Product Preview Desktop Size */

  @media(min-width: 1100px){
    .product-preview{
      padding: calc(var(--std-spacing));
      left: 50%;
      transform: translateX(-50%);
      max-height: 90vh;
    }

    .secondary-preview{
      gap: 3em;
    }

    .secondary-preview img{
      width: 7em;
    }
  }



